<html>
  <head>
    <title>Over ons</title>
    <link rel='stylesheet' href='/stylesheets/about.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="///ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
    <script src="/javascripts/controllers/about.js"></script>  
  </head>
  <body ng-app="testApp" ng-controller = "AboutCtrl">
        <% include index.ejs %>

        <div class="polaroid-images">
            <a href="http://www.evavzw.be/approved-by-eva" title="Approved by EVA">
              <img src="/images/about/approved.jpg" alt="approved"/>
            </a>
            <a href="http://www.evavzw.be/pagina/vegucation" title="Vegucation">
              <img src="/images/about/vegucation.jpg" alt="vegucation"/>
            </a>
            <a href="http://www.evavzw.be/magazine" title="Magazine">
              <img src="/images/about/magazine.jpg" alt="magazine"/>
            </a>
            <a href="http://www.evavzw.be/donderdag-veggiedag" title="Donderdag Veggiedag">
              <img src="/images/about/veggie.jpg" alt="veggie"/>
            </a>
            <a href="http://www.evavzw.be/kookworkshops" title="Kookworkshops">
              <img src="/images/about/kookworkshop.jpg" alt="workshop"/>
            </a>
          </div>

    <div class="text">
        <div class="paragraaf">
            <h1>Wie is EVA?</h1>
            <p>EVA is een Gentse vzw die door middel van recepten, workshops, activiteiten, magazines, ... mensen wil aanzetten meer plantaardig te eten.</p>
        </div>

        <div class="paragraaf">
            <h1>Waarom plantaardig?</h1>
            <p>Door minder dierlijke producten te eten en voor meer plantaardig te kiezen, pak je meteen vier belangrijke problemen tegelijk aan. Je spaart het milieu, je zorgt voor een betere voedselverdeling in de wereld, je gezondheid vaart er wel bij en natuurlijk zullen ook de dieren je dankbaar zijn</p>
        </div>

        <div class="paragraaf">
            <h1>Waarom 21 dagen?</h1>
            <p>Wetenschappers hebben bewezen dat je na 21 dagen een gewoonte vol te houden, je meer geneigd zal zijn deze gewoonte door te zetten</p>
        </div>
    </div>
        <% include footer.ejs %>
  </body>
</html>