<html>
  <head>
  <title>Challengeboard</title>
  <link rel="stylesheet" type="text/css" href="slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/ngDialog.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/ngDialog-theme-default.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="///ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
  <script type="javascripts/angularApp.js"></script>
  <!--script voor controller altijd na angular script anders kent hij angular niet -->
  <script src="/javascripts/controllers/challengeboard.js"></script>
  <script src="/javascripts/ngDialog.js"></script> 
  </head>
  <body ng-app="testApp" ng-controller = "ChallengeboardCtrl">

  <% include index.ejs %>

  <a href="#" ng-click="showFavorites()">
      <img class="fav-btn" src="images/fav-popup.png"></img>
  </a>

   <div class="slider">
    <div ng-repeat="challenge in challenges | orderBy: 'name'" on-last-repeat>
          <a href="/challenge" data"{{challenge._id}}" ng-click="showChallenge(challenge._id)">
            <div ng-if="challenge.typeOfChallenge == recipe">
              <img src="/images/challenge-icons/recipe.png"/> 
            </div>
            <div ng-if="challenge.typeOfChallenge == resto">
              <img src="/images/challenge-icons/restaurant.png"/> 
            </div>
            <div ng-if="challenge.typeOfChallenge == fastfood">
              <img src="/images/challenge-icons/fastfood.png"/> 
            </div>
            <div ng-if="challenge.typeOfChallenge == social">
              <img src="/images/challenge-icons/social.png"/> 
            </div>
            <div ng-if="challenge.typeOfChallenge == breakfast">
              <img src="/images/challenge-icons/breakfast.png"/> 
            </div>
            <div ng-if="challenge.typeOfChallenge == last">
              <img src="/images/challenge-icons/last.png"/> 
            </div>
            <h2>{{challenge.name}}</h2>
          </a>
    </div>
  </div>

  <% include footer.ejs %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="slick/slick.min.js"></script>
  <script type="text/ng-template" id="popupStart">
        <h1>Favoriete recepten:</h1>
        <div ng-repeat="recipe in favorites">
          <a class="favorite" href="/recipe" data="{{recipe._id}}" ng-click="showRecipe(recipe._id)">
              <p>{{recipe.title}}</p>
          </a>
        </div>
  </script>
  </body>
</html>