<html>
<head>
  <title>Challenge</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/challenge.css"/>
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>

  <link rel="stylesheet" type="text/css" href="stylesheets/ngDialog.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/ngDialog-theme-default.css"/>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="///ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
  <!--script voor controller altijd na angular script anders kent hij angular niet -->
  <script src="/javascripts/controllers/challenge.js"></script> 
  <script src="/javascripts/ngDialog.js"></script> 
</head>
<body ng-app="testApp" ng-controller="ChallengeCtrl">

  <% include index.ejs %>

  <a href="#" ng-click="showFavorites()">
      <img class="fav-btn" src="images/fav-popup.png"></img>
  </a>

  <div ng-if="state == 1">
      <% include templates/invisible.ejs %>
  </div>

  <div>
    <div ng-if="state != 1">
      <h1>{{challenge.name}}</h1>

      <p ng-repeat= "desc in challenge.description">
        {{desc}}
      </p>
    <div ng-if="type == recipe || type == fastfood">
      <% include templates/recipeChallenge.ejs %>
    </div>
    <div ng-if="type == resto">
      <% include templates/restaurantChallenge.ejs %>
    </div>
  </div>
<p>{{finalMessage}}</p>
    <div ng-if="state == 3">
      <input type="submit" value="Challenge aanvaarden" class="active" ng-click="StartChallenge(challenge._id)">
    </div>

    <div ng-if="state == 4">
      <input type="submit" value="Challenge afronden" class="active" ng-click="StopChallenge(challenge._id)">
    </div>
    <div ng-if="state == 6">
      <p>Deze challenge is al voltooid</p>
    </div>
  </div>

<script type="text/ng-template" id="popupStart">
    <h1>De challenge is gestart</h1>
    <A HREF="javascript:history.go(0)">Click to refresh the page</A>
</script>

<script type="text/ng-template" id="popupCompleted">
    <h1>De challenge is voltooid</h1>
    <A HREF="javascript:history.go(0)">Click to refresh the page</A>
</script>

<script type="text/ng-template" id="popupFavorites">
        <h1>Favoriete recepten:</h1>
        <div class="favorites" ng-repeat="recipe in favorites">
          <a class="favorite" href="/recipe" data="{{recipe._id}}" ng-click="showRecipe(recipe._id)">
              <p>{{recipe.title}}</p>
          </a>
        </div>
</script>

  <% include footer.ejs %>  
</body>
</html>