<html>
  <head>
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/footer.css' />
  </head>
  <body>

  <div class="footer">
      <a href="https://www.facebook.com/evavzw">
                <img border="0" alt="Facebook" src="/images/icons/facebook.png"/>
            </a>

            <a href="https://twitter.com/evaveggies">
                <img border="0" alt="Twitter" src="/images/icons/twitter.png"/>
            </a>

            <a href="https://www.pinterest.com/evaveggies/">
                <img border="0" alt="Pinterest" src="/images/icons/pinterest.png"/>
            </a>
  </div>
  </body>
</html>