<html>
  <head>
    <title>Challengeboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/normalize.css" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/javascripts/responsiveMenu.js"></script>
  </head>
  <body>
    <nav class="clearfix">
        <ul class="clearfix">
            <li><a class="left" href="/challengeboard">Challengeboard</a></li>
            <li><a class="left" href="/receptenboek">Receptenboek</a></li>
            <li><img src="images/EvaLogoNeg.png" alt="Eva_Logo"></li>
            <li><a class="right" href="/profile">Profiel</a></li>
            <li><a class="right" href="/about">Over ons</a></li>
            <li><a href="#" ng-click="logout()"><img class="logout" src="images/logout.png"/></a></li>
        </ul>

        <ul id="menuRes">
            <li><a href="/challengeboard">Challengeboard</a></li>
            <li><a href="/receptenboek">Receptenboek</a></li>
            <li><a href="/profile">Profiel</a></li>
            <li><a href="/about">Over ons</a></li>
            <li><a href="#" ng-click="logout()"><img class="logout" src="images/logout.png"/></a></li>
        </ul>

        <a href="#" id="pull">Menu</a>
    </nav>
  </body>
</html>