<html>
  <head>
    <title>Log in</title>
    <link rel='stylesheet' href='/stylesheets/inlog.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="///ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
    <script src="/javascripts/animatescroll.js"></script>
    <script src="/javascripts/controllers/inlog.js"></script>
  </head>
  <body ng-app="testApp" ng-controller="InlogCtrl">
  <div id="section-1" class="login-1">
    <div class="login">
      <img src="images/EvaLogo.png" alt="Eva_Logo">
      <div class="welkom">
        <p id="welkom_tekst">Welkom.</p>
        <p id="aanmeld_tekst">Meld je hier aan.</p>
      </div>

      <form class="inlog_form">
        <div class="input-list style-1 clearfix">
          <input type="text" placeholder="Username" id="username" ng-model="username">
          <input type="password" placeholder="Wachtwoord" id="password" ng-model="password"><p>{{foutmelding}}</p>
        </div>
        <input type="submit" value="Aanmelden" class="active" ng-click="login()">
      </form>

      <p class="registreer"> 
          Wachtwoord 
          <a class="button" href="#popup1">vergeten? </a>
          Nog geen account? 
          <a href="/register">Registreer</a>
      </p>
      <a href="#overview" onclick="$('#section-2').animatescroll();" class="scroll">Scroll voor meer info</a>
    </div>
  </div>

    <div id="section-2" class="login-2">
      <p>21 dagen<span>.</span></p>

      <p>21 challenges<span>.</span></p>

      <p>1 persoon<span>.</span></p>

      <p id="text">GEEN VLEES<span>.</span></p>
      <a href="#overview" onclick="$('#section-3').animatescroll();" class="scroll2">Scroll voor meer info</a>
    </div>

    <div id="section-3" class="login-3">
      <div id="top">
        <img id="trophy-img" src="/images/trophy.png">
          <p id="challenge-text">21 dagen, 21 opdrachten. Van recepten koken voor je gezin of je beste vrienden tot een gezellig etentje op restaurant. </br>Kun jij ze allemaal voltooien?</p>
        </img>
      </div>

      <div id="bottom">
        <img id="resto-img" src="/images/restaurant.png">
          <p id="resto-text">Onze site bevat ook tal van heerlijke recepten. Vlaamse klassiekers omgetoverd naar een veggie alternatief, lekkere stoofpotjes en glutenvrije desserts? Wij hebben ze allemaal!</p>
        </img>
      </div>
    </div>

<div id="popup1" class="overlay">
  <div class="popup">
    <h2>Wachtwoord vergeten</h2>
    <a class="close" href="#">&times;</a>
    <div class="content">
      <input type="text" placeholder="E-mailadres">
      <input type="submit" value="Verzenden" class="active">
    </div>
  </div>
</div>

  <footer>
    <a href="#" class="top">
      <img src="/images/arrow-up.png"/>
    </a>
  </footer>

  <script>
      $(document).ready(function() {
          var offset=250, // At what pixels show Back to Top Button
          scrollDuration=300; // Duration of scrolling to top
              $(window).scroll(function() {
            if ($(this).scrollTop() > offset) {
                      $('.top').fadeIn(500); // Time(in Milliseconds) of appearing of the Button when scrolling down.
                      } else {
          $('.top').fadeOut(500); // Time(in Milliseconds) of disappearing of Button when scrolling up.
          }
        });

        // Smooth animation when scrolling
        $('.top').click(function(event) {
        event.preventDefault();
                  $('html, body').animate({
                scrollTop: 0}, scrollDuration);
                      })
        });
  </script>
  </body>
</html>