  <html>
  <head>
    <title>receptenboek</title>
    <link rel='stylesheet' href='/stylesheets/receptenboek.css' />
    <link rel="stylesheet" type="text/css" href="stylesheets/ngDialog.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/ngDialog-theme-default.css"/>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
     <script src="///ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
    <!--script voor controller altijd na angular script anders kent hij angular niet -->
    <script src="/javascripts/controllers/recipebook.js"></script>
    <script src="/javascripts/ngDialog.js"></script> 
  </head>
  <body ng-app="testApp" ng-controller = "RecipebookCtrl">
    <% include index.ejs %>

    <a href="#" ng-click="showFavorites()">
      <img class="fav-btn" src="images/fav-popup.png"></img>
    </a>

    <div class="container">
      <div class="filters">
        <input class="searchbar" autofocus="autofocus" placeholder='Zoek een recept...' type="text" id="search-term" ng-keydown="updateAmount()"/>
        <label class="dropdown">
          <select class="filters-select" data-filter-group="cookingTime">
            <option selected >Kooktijd</option>
            <option data-filter-value=".P1" >Lang</option>
            <option data-filter-value=".P2">Gemiddeld</option>
            <option data-filter-value=".P3" >Snel</option>
          </select>
        </label>
        <label class="dropdown">
        <select class="filters-select" data-filter-group="difficulty">
          <option selected>Moeilijkheid</option>
          <option data-filter-value=".C1" >Starter</option>
          <option data-filter-value=".C2">Enthousiast</option>
          <option data-filter-value=".C3" >Kok</option>
        </select>
        </label>
        <label class="dropdown">
        <select class="filters-select" data-filter-group="type">
          <option selected>Type</option>
          <option data-filter-value=".T1">Broodbeleg</option>
          <option data-filter-value=".T2">Drank</option>
          <option data-filter-value=".T3">Hapje</option>
          <option data-filter-value=".T4">Soep</option>
          <option data-filter-value=".T5">Voorgerecht</option>
          <option data-filter-value=".T6">Hoofdgerecht</option>
          <option data-filter-value=".T7">Saus</option>
          <option data-filter-value=".T8">Bijgerecht</option>
          <option data-filter-value=".T9">Nagerecht</option>
        </select>
        </label>
        <label class="dropdown">
        <select class="filters-select" data-filter-group="allergy">
          <option selected>Allergie</option>
          <option data-filter-value=".0">Vegetarisch</option>
          <option data-filter-value=".1">Glutenvrij</option>
          <option data-filter-value=".2">Suikervrij</option>
          <option data-filter-value=".3">Kindvriendelijk</option>
        </select>
        </label>
      </div>

      <p ng-if="aantal < 1" class="aantal">Er zijn {{aantal}} recepten gevonden.</p>
      <p ng-if="aantal > 1" class="aantal">Er zijn {{aantal}} recepten gevonden.</p>
      <p ng-if="aantal == 1" class="aantal">Er is {{aantal}} recept gevonden.</p>

      <div class='item-container'>
        <div class="items">
          <div ng-repeat="recipe in recipes" 
          class="item 
          P{{recipe.extraInfo.preparationTime}}
          C{{recipe.extraInfo.cookDifficulty}}
          T{{recipe.extraInfo.recipeType}}
          {{recipe.extraInfo.dietTypes[0].typeOfDiet}}
          {{recipe.extraInfo.dietTypes[1].typeOfDiet}}
          {{recipe.extraInfo.dietTypes[2].typeOfDiet}}
          {{recipe.extraInfo.dietTypes[3].typeOfDiet}}"
          data-category="transition" on-last-repeat>
            <div class="item_image">
              <a href="/recipe" data="{{recipe._id}}" ng-click="showRecipe(recipe._id)">
                <img src="{{recipe.imageUrl}}"/>
                <p>{{recipe.title}}</p>
              </a>
            </div>
          </div>
        </div>
      </div> <!-- //item container -->
    </div>

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
      <script src="javascripts/vendor/jquery.js"></script>
      <script src="javascripts/vendor/isotope.pkgd.js"></script>
      <script src="javascripts/isotopeSearchFilter.jquery.js"></script>
      <script type="text/ng-template" id="popupStart">
        <h1>Favoriete recepten:</h1>
        <div ng-repeat="recipe in favorites">
          <a href="/recipe" data="{{recipe._id}}" ng-click="showRecipe(recipe._id)">
              <p>{{recipe.title}}</p>
          </a>
        </div>
      </script>

    <% include footer.ejs %>
  <body>
  </html>