<html>
<head>
  <link rel='stylesheet' href='/stylesheets/recipe.css' />
  <link rel="stylesheet" type="text/css" href="stylesheets/ngDialog.css"/>
  <link rel="stylesheet" type="text/css" href="stylesheets/ngDialog-theme-default.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="///ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
  <!--script voor controller altijd na angular script anders kent hij angular niet -->
  <script src="/javascripts/controllers/recipebook.js"></script>
  <script src="/javascripts/ngDialog.js"></script> 
</head>
<body ng-app="testApp" ng-controller="RecipeCtrl" class="ng-scope">
 <title>{{recipe.title}}</title>

 <% include index.ejs %>

 <div class="recept">
  <div class="banner">
    <img id="banner-img" src="/images/bg_pattern_chalkboard_dark.jpg" />
  </div>  

  <p id="recept-titel">{{recipe.title}}</p>
    
  <div class="buttons">
    <a href="https://facebook.com/sharer.php?u=http://www.evavzw.be/recept/mayonaise-zonder-ei">
      <img border="0" alt="Facebook" src="/images/icons/facebook.png"/ id = "share_button">
    </a>
      <a href="/recipe" ng-click="favorite(recipe._id)">
        <img border="0" alt="Favoriet" src="{{favoriteImgUrl}}" />
      </a>
    <a href="https://twitter.com/intent/tweet?text=Ik vond net dit lekkere gerechtje: '{{recipe.title}}' op EVA's 21 day challenge! Meld je nu ook aan op http://localhost:3000/&hashtags=EVA, 21DayChallenge">
      <img border="0" alt="Twitter" src="/images/icons/twitter.png"/>
    </a>
    <a href="#" ng-click="showFavorites()">
      <img class="fav-btn" src="images/fav-popup.png"></img>
    </a>
  </div>

  <div class="top">
    <div class="ingredienten">
      <h1 id="titel">Ingrediënten:</h1>
      <table>
        <tr ng-repeat="ing in recipe.ingredients" ng-switch on="$index % 2">
          <span ng-show="items[$index]">
            <td ng-switch-when="0">
              {{recipe.ingredients[$index].qty}} {{recipe.ingredients[$index].name}}
            </td>
          </span>
          <span ng-show="items[$index+1]">
            <td ng-switch-when="0">
             {{recipe.ingredients[$index+1].qty}} {{recipe.ingredients[$index+1].name}}
           </td>
         </span>
       </tr>
     </table>
   </div>

   <div class="extra">
    <h1 id="titel">Extra info:</h1>
      <table>
        <tr><td><b>Kooktijd:</b> {{preparationTime}}</td></tr>
        <tr><td><b>Moeilijkheidsgraad:</b> {{cookDifficulty}}</td></tr>
        <tr><td><b>Type:</b> {{recipeType}}</td></tr>
        <tr><td><b>Allergie:</b> {{recipeInfoDietType}}</td></tr>
      </table>
    </div>
  </div>
  
  <div class="bereiding">
    <h1 id="titel">Bereiding:</h1>
  </br>
    <div ng-repeat="desc in recipe.description">
      <p>{{desc}}</p>
    </div> 
  </div>

  <div class="polaroid-images">
    <a href="{{recipe.imageUrl}}" title="{{recipe.title}}">
      <img height="200" src="{{recipe.imageUrl}}" alt="Recept" title="{{recipe.title}}"/>
    </a>
  </div>
</div>

<% include footer.ejs %>
<script type="text/ng-template" id="popupStart">
        <h1>Favoriete recepten:</h1>
        <div ng-repeat="recipe in favorites">
          <a href="/recipe" data="{{recipe._id}}" ng-click="showRecipe(recipe._id)">
              <p>{{recipe.title}}</p>
          </a>
        </div>
</script>
</body>
</html>