<html>
<head>
	<title>Profiel</title>
	<link rel='stylesheet' href='/stylesheets/recipebook.css' />
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="/javascripts/controllers/profile.js"></script>
</head>
<body ng-app="testApp" ng-controller="ProfileCtrl">
	  <% include index.ejs %>
	<div >
		{{user.emailaddress}}
	</div>


</body>
</html>
