@font-face {
	font-family: museo;
	src: url("/fonts/Museo500-Regular.otf");
}

@font-face {
	font-family: museoBold;
	src: url("/fonts/Museo900-Regular.otf");
}

@font-face {
	font-family: mathlete;
	src: url("/fonts/Mathlete_Skinny.otf");
}

.text {
	float: left;
}

#collage {
	margin-top: 15px;
	margin-left: 50px;
	margin-right: 50px;
	width:70%;
	height: auto;
	display:block;
  	margin-left:auto;
  	margin-right:auto;
}

.paragraaf {
	margin-left: 50px;
	margin-bottom: 50px;
	margin-right: 50px;
	height: 40px;
}

.paragraaf h1{
	font-family: museoBold;
	font-size: 22px;
	color: #afbd1f;
	height:15px;
}

.paragraaf p {
	margin: 0;
	font-family: museo;
	font-size: 16px;
}

@media only screen and (max-width: 500px) {
	.paragraaf h1{
		font-size: 18px;
	}

	.paragraaf p{
		font-size: 10px;
	}
}


/* POLAROIDS */
.polaroid-images {
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.polaroid-images a
{	
	background: white;
	display: inline;
	float: left;
	margin: 0;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 10px 5px 5px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
        position:relative;
}

.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:0px;

	font-family: mathlete;
	font-size: 25px;
}

.polaroid-images img { 
	display: block; 
	width: 200px; 
}


/* TILT */
.polaroid-images a:nth-child(2n)
{
	-webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg); 
}
.polaroid-images a:nth-child(3n) { 
	-webkit-transform: rotate(-24deg);  
	-moz-transform: rotate(-24deg); 
	transform: rotate(-24deg); 
}
.polaroid-images a:nth-child(4n)
{
	-webkit-transform: rotate(14deg);  
	-moz-transform: rotate(14deg); 
	transform: rotate(14deg); 
}
.polaroid-images a:nth-child(5n)
{
	-webkit-transform: rotate(-18deg);  
	-moz-transform: rotate(-18deg); 
	transform: rotate(-18deg); 
}

.polaroid-images a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.2);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}