@font-face {
	font-family: museo;
	src: url("/fonts/Museo500-Regular.otf");
}

@font-face {
	font-family: museoBold;
	src: url("/fonts/Museo900-Regular.otf");
}


div {
	margin-top: 30px;
	width: 700px;
	margin-left: auto;
	margin-right: auto;
}

div h1{
	text-align: center;
	font-family: museoBold;
	font-size: 30px;
	color: #afbd1f;
}

div p {
	text-align: center;
	font-family: museo;
	font-size: 15px;
}

@import "compass/css3";

input[type=submit] {
	margin-left: 115px;
  border: 0;
  background: #006990;
  color: white;
  padding: 8px 14px;
  font-family: museo;
  font-size: 17px;
  margin-top: 10px;
  width: 70%;
  box-shadow: 1px 0px #005473, 0px 1px #0078a4,
              2px 1px #005473, 1px 2px #0078a4,
              3px 2px #005473, 2px 3px #0078a4,
              4px 3px #005473, 3px 4px #0078a4;
}


/* RECIPE */

.recept {
	margin-top: 100px;
}

.banner{
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.banner p {
   position: absolute;
   top: 475px;
   left: 50%;
   transform: translateX(-40%);
   width: 100%;
   margin: 0 auto;
   width: 300px;
   height: 50px;

   font-family: museo;
   font-size: 40px;
   color: white;
   text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);

}

#banner-img {
	position: relative;
	width: 100%;
}

.buttons {
	height:25px;
	margin-top: 10px;
	text-align: center;
}

.buttons img {
	height: 50px;
	width: auto;
	margin-left: 20px;
}

/* RECIPES */
.recipes {
	margin-left: 10px;
	margin-top: 50px;
	margin-bottom: 100px;
}

.recipes a{
	text-decoration: none;
}

.recipes a p {
	text-align: left;
	font-family: museo;
	font-size: 18px;
	color: #595F6E;
}

.button p {
	border-bottom: 2px solid #afbd1f;
	margin-bottom: 30px;
}

.recipe {
	margin-bottom: 100px;
}

#titel {
	text-align: left;
	font-family: museo;
	font-size: 20px;
	color: #afbd1f;
	margin-top: 50px;
	margin-left: 50px;
}

.ingredienten{
	width: 700px;
	height: auto;
	margin-right: 0px;
	margin-top: -155px;
}

.ingredienten td{
	width: 350px;
	padding-left: 50px;
}

.bereiding{
	width: 700px;
	height: auto;
}

.bereiding p{
	text-align: left;
	margin-left: 50px;
	margin-top: -25px;
}

/* IMAGE */
.polaroid-images {
	width: 1000px;
	height: 500px;
	margin-top: 20px;
	margin-left: 50px;
}

.polaroid-images a {
	background: white;
	display: inline;
	float: left;

	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
    padding-bottom: 0px;   
}

.polaroid-images a:after {
	color: #333;
	content: attr(title);
	position: relative;
	top:-10px;

	font-family: mathlete;
    font-size: 30px;
}

.polaroid-images img { 
	display: block; 
	width: 500px; 
}

/* RESTAURANT */
.restaurant {
	margin-bottom: 300px;
}

.restaurant p {
	text-align: left;
}

.restaurant-name {
	color: #afbd1f;
	border-bottom: 2px solid #afbd1f;
	font-size: 20px;
}

.description p {
	color: black;
	margin-bottom: -20px;
}

.adres p{
	float:left;
	margin-right: 5px;
}

.information {
	margin-top: -10px;
	float:left;
}

.information p {
	color: black;
	margin-bottom: -10px;
}

.information a {
	color: #8bd6f2;
}

#approved {
	color: #afbd1f;
}

/* FAVORITE POPUP BUTTON */
.fav-btn{
  float:right;
  width: 45px;
  height: auto;
  margin-top: 15px;
  margin-right: 10px;
}

.favorites p {
	text-align: left;
}

.favorite a{
	text-align: left;
  text-decoration: none;
}