body {
  background-color: orange;
  margin: 0px;
}

@font-face {
	font-family: museo;
	src: url("/fonts/Museo500-Regular.otf");
}

@font-face {
	font-family: museoBold;
	src: url("/fonts/Museo900-Regular.otf");
}

.login-1{
  width: 100%;
  height: 100%;
  padding-top: 20px;
  text-align: center;

  background: url("/images/bg_pattern_chalkboard_light.jpg") no-repeat;
  background-size: cover;
}

.login {
  margin-top: 0px;
	width: 400px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
	width:350px;
	height:auto;
	display: block;
	margin-left: auto;
  margin-right: auto;
}

.welkom {
	display: table;
    margin: 0 auto;
    float: right;
}

p {
	font-family: museo;
	margin:0;
}

a {
	text-decoration: none;
	color: #006990;
}

#welkom_tekst {
	font-size: 40px;
	font-family: museoBold;
	color: #FFFFFF;
	text-shadow: 1px 1px 6px rgba(150, 150, 150, 1);
	text-align: right;
	padding-top: 15px;
}

#aanmeld_tekst {
	font-size: 40px;
	font-family: museo;
	color: #FFFFFF;
	text-shadow: 1px 1px 6px rgba(150, 150, 150, 1);
	text-align: right;
	padding-bottom: 50px;
}

.registreer {
  font-family: museo;
  font-size: 15px;
}


/* Input velden (username + wachtwoord) */

input[type="text"],
input[type="password"] {
  display: block;
  margin: 0;
  width: 100%;
  font-family: museo;
  font-size: 17px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  margin-top: 10px;
  opacity: 0.6;
}

.style-1 input[type="text"],
.style-1 input[type="password"] {
  padding: 10px;
  border: 0px;
  transition: box-shadow 0.1s, border 0s;
}

.style-1 input[type="text"]:focus,
.style-1 input[type="password"]:focus {
  border: solid 1px #afbd1f;
  box-shadow: 0 0 5px 1px #afbd1f;
}


/* Submit (Aanmelden + Aanmelden met Facebook) */

@import "compass/css3";

input[type=submit] {
  border: 0;
  background: #006990;
  color: white;
  padding: 8px 14px;
  font-family: museo;
  font-size: 17px;
  margin-top: 10px;
  width: 100%;
  box-shadow: 1px 0px #005473, 0px 1px #0078a4,
              2px 1px #005473, 1px 2px #0078a4,
              3px 2px #005473, 2px 3px #0078a4,
              4px 3px #005473, 3px 4px #0078a4;
}

/* OF (tekst tussen aanmelden en aanmelden met Facebook) */

#of {
	font-family: museo;
	font-size: 15px; 
	text-align: center;
}


/* Scroll button page 1*/
.scroll {
  position:relative;
  font-size:1.3em;
  margin-top:50px;
  display:inline-block;
  font-family: museo;
  font-size: 13px;
  color: black;
}

.scroll:hover {
  text-decoration:none;
}

.scroll:after {
  content:'';
  width:40px;
  height:40px;
  position:absolute;
  top:40px;
  margin:auto;
  top:50px;
  right:0;
  bottom:0;
  left:0;
  -webkit-animation:3s arrow infinite ease;
  animation:3s arrow infinite ease;
}

.scroll:after {
  border-right:2px solid black;
  border-bottom:2px solid black;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}



/* Scroll button page 2*/
.scroll2 {
  position:relative;
  font-size:1.3em;
  margin-top:300px;
  display:inline-block;
  font-family: museo;
  font-size: 14px;
  color: black;
}

.scroll2:hover {
  text-decoration:none;
}

.scroll2:after {
  content:'';
  width:40px;
  height:40px;
  position:absolute;
  top:40px;
  margin:auto;
  top:50px;
  right:0;
  bottom:0;
  left:0;
  -webkit-animation:3s arrow infinite ease;
  animation:3s arrow infinite ease;
}

.scroll2:after {
  border-right:2px solid black;
  border-bottom:2px solid black;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}


/* Scroll button page 3*/
.scroll3 {
  position:relative;
  font-size:1.3em;
  margin-top:-80px;
  display:inline-block;
  font-family: museo;
  font-size: 13px;
  color: black;
}

.scroll3:hover {
  text-decoration:none;
}

.scroll3:after {
  content:'';
  width:40px;
  height:40px;
  position:absolute;
  top:40px;
  margin:auto;
  top:50px;
  right:0;
  bottom:0;
  left:0;
  -webkit-animation:3s arrow infinite ease;
  animation:3s arrow infinite ease;
}

.scroll3:after {
  border-right:2px solid black;
  border-bottom:2px solid black;
  -webkit-transform:rotate(45deg);
  transform:rotate(45deg);
}

@-webkit-keyframes arrow {
  0%,100% {
    top:50px;
  }
  50% {
    top:80px;
  }
}


/* SCHERM 2 (SLOGAN) */

.login-2{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  text-align: center;

  background: #afbd1f;
}

.login-2 p {
  font-family: museo;
  font-size: 60px;
  color: white;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

.login-2 span {
  color: #f15c23;
}

#text {
  font-family: museoBold;
  font-size: 80px;
  margin-top: 75px;
}

/* SCHERM 3 (uitleg) */

.login-3{
  width: 100%;
  height: 100%;
  margin-top: 10px;
  text-align: center;

  background: url("/images/bg_pattern_chalkboard_light.jpg") no-repeat;
  background-size: cover;
}

.login-3 p {
  font-family: museo;
  font-size: 20px;
  display: inline-block;
  width: 600px;
  margin-top: 140px;
  text-align: left;
}

#top {
  width: 100%;
  height: 50%;
}

#trophy-img {
  width: 200px;
  height: auto;
  float: left;
  margin-left: 250px;
  margin-top: 80px;
}

#resto-img {
  width: 200px;
  height: auto;
  float: right;
  margin-right: 250px;
  margin-top: 80px;
}

#bottom {
  width: 100%;
  height: 50%;
}

/* Back to top button */

.top{
  bottom: 2em;
  color: #fff;
  display: none;
  opacity:0.6;
  padding: 0px;
  position: fixed;
  right: 1.5em;
  text-decoration: none;
}

.top:hover{
  opacity:1;
  transition:1s;
}

.top img {
  width: 50px;
  height: auto;
}


/* popup wachtwoord vergeten */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(175, 189, 31, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
  font-family: museoBold;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}