@font-face {
	font-family: museo;
	src: url("/fonts/Museo500-Regular.otf");
}

@font-face {
	font-family: museoBold;
	src: url("/fonts/Museo900-Regular.otf");
}

a {
	text-decoration: none;
}

.profile-header{
	margin-top:0px;
	margin-bottom: 50px;
	background-color: #f8fdc1;
	height: 160px;
    width: 100%;
}

.header{
	margin-top: 0px;
	margin-left: 31%;
}

.profile-header{
	margin-top:0px;
	background-color: #f8fdc1;
	height: 160px;
    width: 100%;
}

.reg-header{
	margin-top: 20px;
	text-align: center;
}

.header-text{
	margin-top: 0px;
	font-family: museoBold;
	font-size: 20px;
}

#user-img {
	width: 120px;
	height: auto;
	margin-top: 20px;
	margin-left: 50px;
	float:left;
}

.profile{
	margin-top: 30px;
	margin-left: 50px;
	font-family: museo;
}

.profile h2{
	height:10px;
	font-size: 18px;
}

.profile p {
	color: #b3a59f;
	font-size: 15px;
	margin-bottom: 40px;
}



/*smaller screens*/

@media only screen and (max-width: 500px) {
	.profile-header{
		height: 150px;
	    width: 100%;
	}

	.profile-header h1 {
		margin-top: 0px;
		padding-top: 60px;
		margin-left: 180px;
	}

	#user-img{
		margin-left: auto;
		margin-right: auto;
		width: 100px;
		height: auto;
	}
}

@media only screen and (max-width: 410px) {
	.profile-header{
		height: 100px;
	    width: 100%;
	}

	.profile-header h1 {
		font-size: 18px;
		margin-top: 0px;
		padding-top: 40px;
		margin-left: 140px;
	}

	#user-img{
		margin-left: 30px;
		margin-top: 10px;
		width: 75px;
		height: auto;
	}
}

/*button*/
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}




/*-------------------------------------Style voor input--------------------------------------------------*/

.input {
	position: relative;
	z-index: 1;
	display: block;
	margin: 1em;
	max-width: 500px;
	width: calc(100% - 2em);
	vertical-align: top;

}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: museo;
	-webkit-appearance: none; /* for box shadows to show on iOS */
	padding-left: 200px;
}

.input__field:focus {
	outline: none;
}

.input__label {
	font-family: museo;
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}



/* Individual styles */

/* Hoshi */
.input--hoshi {
	margin-left: 60px;
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 2em;
	padding: 20px 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
	font-size: 18px;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - 1em);
	text-align: left;
	pointer-events: none;
}

.input__label-content--hoshi {
	position: absolute;
}

.input.input--hoshi{
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
}

#checkbox.input.input--hoshi {
	font-family: museo;
	font-size: 18px;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 3px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: #f2de00;
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

/* Kyo */
.input--kyo {
	z-index: auto;
	display: inline-block;
}

.input__field--kyo {
	padding: 20px 50px;
	width: auto;
	border-radius: 2em;
	background: white;
	color: black;
	text-align: center;
	font-family: museo;
	font-size: 20px;
}

.input.input--kyo {
	margin-top: 50px;
	width: 356px;
}

.input__label--kyo {
	z-index: 0;
	padding: 0 0 0 2em;
	width: 100%;
	text-align: left;
}

.input__label--kyo::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100%;
	height: 100%;
	background: rgba(175, 189, 31, 0.5);
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	pointer-events: none;
}

.input.input--kyo.input--filled{
	margin-top: 50px;
	margin-left: 270px;
	width: 100px;
}

.input__label-content--kyo {
	padding: 0.5em 0;
}

.input__field--kyo:focus,
.input__field--kyo:focus +  .input__label--kyo .input__label-content--kyo {
	z-index: 10000;
}

.input__field--kyo:focus + .input__label--kyo {
	color: #afbd1f;
}

.input__field--kyo:focus + .input__label--kyo::after {
	opacity: 1;
}

/*Opslaan button*/

@import "compass/css3";

input[type=submit] {
  border: 0;
  background: #006990;
  color: white;
  padding: 8px 14px;
  font-family: museo;
  font-size: 17px;
  margin-top: 10px;
  width: 500px;
  box-shadow: 1px 0px #005473, 0px 1px #0078a4,
              2px 1px #005473, 1px 2px #0078a4,
              3px 2px #005473, 2px 3px #0078a4,
              4px 3px #005473, 3px 4px #0078a4;
}

input[disabled] {
  border: 0;
  background: rgba(0, 105, 144, 0.2);
  color: white;
  padding: 8px 14px;
  font-family: museo;
  font-size: 17px;
  margin-top: 10px;
  width: 500px;
  box-shadow: 1px 0px #005473, 0px 1px #0078a4,
              2px 1px #005473, 1px 2px #0078a4,
              3px 2px #005473, 2px 3px #0078a4,
              4px 3px #005473, 3px 4px #0078a4;
}

/* ERROR MESSAGES */
.content {
	margin-top: -70px;
}

.error-messages {
	width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: museo;
}

.error img {
	height: 30px;
	width: auto;
	margin-top: 5px;
	margin-right: 5px;
}

.error p{
	color: #FF4136;
	margin-bottom: -20px;
}

.info img {
	height: 30px;
	width: auto;
	margin-top: 5px;
	margin-right: 5px;
}

.info p{
	margin-top: 20px;
	color: #8bd6f2;
}

/* SELECT BOX */
label.dropdown select {
  padding: 10px 42px 10px 10px;
  color: #595F6E;
  border: 1px solid #aaa;
  border-radius: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  width: 100%;
  font-family: museo;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 0px;
  background: #fff url(../images/arrow_open.png) 98% center no-repeat;
}
label.dropdown select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #444;
}
label.dropdown select::-ms-expand {
  display: none;
}
label.dropdown select:hover {
  background: #f7f7f7 url(../images/arrow_open.png) 98% center no-repeat;
}

@media screen\0 {
  label.dropdown:after {
    width: 38px;
    text-indent: 15px;
    right: 0;
  }
}

@media screen and (min--moz-device-pixel-ratio:0) {
  label.dropdown select { padding-right: 40px; }
  label.dropdown:before { right: 6px; }
  label.dropdown:after {
    text-indent: 14px;
    right: 6px;
    top: -5px;
    width: 36px;
  }
}

/* BACK BUTTON */
.back-btn {
	float:left;
	color: #2fa0ec;
	margin-left: 20px;
	margin-right: -60px;
	text-decoration: none;
}

.back-btn:hover {
	color: #247BB5;
	text-decoration: none;
}

/* SUCCESS MESSAGE */
.success p {
	color: #2fa0ec;
}

.description {
	margin-top: 0px;
}