@font-face {
        font-family: museo;
        src: url("/fonts/Museo500-Regular.otf");
      }

      .container{
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }

      .item-container {
        margin: 5px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 100px;
      }

      .item{
        margin: 5px;
        width: 300px;
        border-radius: 10px;
        background: #f15c23;
      }

      .item_image{
        width: 100%;
        height: auto;
        overflow: hidden;
      }

      .item_image img{
        box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
        width: 100%;
        height: auto;
        padding: 0;
        border-radius: 10px;
        position: relative; 

        opacity: 0;
        visibility: hidden;
      }

      .item_image img {
        visibility: visible;
        opacity: 1;
      }

      .item_image img:hover {
        opacity: 0.5;    
      }

      .item_image p:hover  img{
        opacity: 0.5;    
      }

      .item_image p {
        display:block;
        position:absolute;
        width:100%;
        top:30%;
        left:0;
        z-index:2;
        text-align:center;
        font-family: museo;
        font-size: 20px;
        color: #FFFFFF;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
        visibility: hidden;
      }

      .item_image:hover p {
        display:block;
        position:absolute;
        width:100%;
        top:30%;
        left:0;
        z-index:2;
        text-align:center;
        font-family: museo;
        font-size: 20px;
        color: #FFFFFF;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 1);
        visibility: visible;
      }

      .searchbar {
        padding: 10px 42px 10px 10px;
        color: #444;
        border: 1px solid #aaa;
        border-radius: 0;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        width: 18%;
        font-family: museo;
        margin-top: 20px;
        margin-left: 10px;
      }

      .aantal {
        font-family: museo;
        font-size: 25px;
        color: #afbd1f;
        margin-top: 15px;
      }


/* SELECT BOX */
label.dropdown select {
  padding: 10px 42px 10px 10px;
  color: #444;
  border: 1px solid #aaa;
  border-radius: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
  width: 18%;
  font-family: museo;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background: #fff url(../images/arrow_open.png) 98% center no-repeat;
}
label.dropdown select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #444;
}
label.dropdown select::-ms-expand {
  display: none;
}
label.dropdown select:hover {
  background: #f7f7f7 url(../images/arrow_open.png) 98% center no-repeat;
}

@media screen\0 {
  label.dropdown:after {
    width: 38px;
    text-indent: 15px;
    right: 0;
  }
}
@media screen and (min--moz-device-pixel-ratio:0) {
  label.dropdown select { padding-right: 40px; }
  label.dropdown:before { right: 6px; }
  label.dropdown:after {
    text-indent: 14px;
    right: 6px;
    top: -5px;
    width: 36px;
  }
}

/* FAVORITE POPUP BUTTON */
.fav-btn{
  float:right;
  width: 45px;
  height: auto;
  margin-top: 15px;
  margin-right: 10px;
}