@font-face {
	font-family: museo;
	src: url("/fonts/Museo500-Regular.otf");
}

@font-face {
	font-family: museoBold;
	src: url("/fonts/Museo900-Regular.otf");
}

@font-face {
	font-family: mathlete;
	src: url("/fonts/Mathlete_Skinny.otf");
}

.banner{
	width: 100%;
	height: 125px;
	overflow: hidden;
}

#recept-titel {
   /* text over image */
   position: absolute; 
   top: 125px; 
   left: 0; 
   width: 100%; 

   text-align: center;
   font-family: museo;
   font-size: 35px;
   color: #afbd1f;
   text-shadow: 1px 1px 4px rgba(255, 255, 255, 0.6);
}

#banner-img {
	position: relative;
	width: 100%;
}

.buttons {
	height:25px;
	margin-top: 25px;
	text-align: center;
}

.buttons img {
	height: 50px;
	width: auto;
	margin-left: 20px;
} 

a{
	text-decoration: none;
}

.top {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.ingredienten{
	height: auto;
	float: left;
	margin-right: 80px;
}

.ingredienten td{
	width: 350px;
	padding-left: 50px;
}

.extra {
	padding-top: 5px;
}

.bereiding{
	width: 1000px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.bereiding {
	margin-top: 50px;
}

.bereiding p{
	margin-top: -18px;
	margin-left: 50px;
	font-size: 18px;
}

#titel {
	font-family: museo;
	font-size: 22px;
	color: #afbd1f;
	padding-top: 40px;
	margin-left: 50px;
}

.polaroid-images {
	width: 1000px;
	height: 500px;
	margin-top: 100px;
	margin-left: 350px;
}

.polaroid-images a {
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
    padding-bottom: 30px;

    /* TILT */
    -webkit-transform: rotate(4deg);  
	-moz-transform: rotate(4deg); 
	transform: rotate(4deg);     
}

.polaroid-images a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	position: relative;
	top:10px;

	font-family: mathlete;
    font-size: 35px;
}

.polaroid-images img { 
	display: block; 
	width: inherit; 
}


/* POPUP BUTTON */
.fav-btn{
  float:right;
  width: 45px;
  height: auto;
  margin-top: 0px;
  margin-right: 10px;
}