body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
}

@font-face {
    font-family: mathlete;
    src: url("/fonts/Mathlete-Skinny.otf");
}

img {
	width: 150px;
	height: auto;
	padding-bottom: 10px;
}

/* Clearfix */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* Basic Styles */
body {
	background-color: #FFFFFF;
}


ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}

li {
    display:inline-block;
}


nav {
	height: 120px;
	width: 100%;
	background-image: url(/images/bg_pattern_chalkboard_green.jpg);
	font-size: 25pt;
	font-family: mathlete;
	position: relative;
	border-bottom: 2px solid #283744;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 40px;

	min-height: 120px;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-line-pack: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@supports (flex-wrap: wrap) {
  /* line 15, ../sass/test.scss */
  nav {
    display: flex;
  }
}

nav li {
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    color:white;
    margin-right:10px;
    margin: .5em 1em;
}

nav a {
	color: white;
	display: inline;
	width: 200px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}

nav a:hover, nav a:active {
	color: #f2de00;
	text-decoration: none;
}

/* Pull link verbergen voor normale screens */
nav a#pull {
	display: none;
}

/* Menu link verbergen voor normale screens */
nav ul#menuRes {
	display: none;
}







/*Styles for screen 1285px and lower*/
@media screen and (max-width: 1285px) {

ul {
    margin:0;
    padding:0;
    list-style-type:none;
    text-align:center;
}

li {
    display:inline-block;
}


nav {
	height: 120px;
	width: 100%;
	background-image: url(/images/bg_pattern_chalkboard_green.jpg);
	font-size: 25pt;
	font-family: mathlete;
	position: relative;
	border-bottom: 2px solid #283744;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	height: 40px;

	min-height: 120px;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-line-pack: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@supports (flex-wrap: wrap) {
  /* line 15, ../sass/test.scss */
  nav {
    display: flex;
  }
}

nav li {
	width: 100px;
    *display:inline; /*IE7*/
    *zoom:1; /*IE7*/
    color:white;
    margin-right:10px;
    margin: .5em 1em;
}

nav a {
	color: white;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
	text-shadow: 1px 1px 0px #283744;
}

nav a:hover, nav a:active {
	color: #f2de00;
}

/* Menu link verbergen voor normale screens */
nav a#pull {
	display: none;
}

nav ul#menuRes {
	display: none;
}
}

/* LOGOUT */
.logout {
	width: 30px;
	height: auto;
	float: left;
	padding-left: 0px;
	margin-top: 15px;
}

.left {
	padding-right: 50px;
}

.right {
	padding-left: 50px;
}

/*Styles for screen 1000px and lower*/
@media only screen and (max-width : 1000px) {
	nav {
		height: auto;
		border-bottom: 0;
	}

	nav li {
		height: auto;
	}

	nav ul {
		font-size: 25px;
		display: none;
		height: auto;
	}

	nav a#pull {
		display: block;
		background-color: #032d18;
		width: 100%;
		position: relative;
	}

	/* NODIG???*/
	nav a#pull:after {
		content:"";
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}