<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.css">
  </head>
  <body>
        <a class="popover" href="#"><img src="/images/fav-popover.png"></img></a>
        <div class="webui-popover-content">
          <div ng-repeat="fav in favorites">
            <a href="/recipe">{{fav.title}}</a>
          </div> 
        </div>
  <script src="https://cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/jquery.webui-popover/1.2.1/jquery.webui-popover.min.js"></script>
  <script>
    $('.popover').webuiPopover({animation:'pop'});
  </script>
  </body>
</html>x