  <div class="recipes">
    <a class="button" href="" ng-click="ShowVegetarian()">
      <p>Vegetarian</p>
    </a>  

    <!-- VEGETARIAN -->
    <div class="recipe" ng-hide="VeggieHidden">

      <div class="polaroid-images">
        <a href="{{vegetarian.imageUrl}}" title="{{vegetarian.title}}">
          <img height="200" src="{{vegetarian.imageUrl}}" alt="Recept" title="{{vegetarian.title}}"/>
        </a>
      </div>

        <div class="ingredienten">
          <h1 id="titel">Ingrediënten:</h1>
          <table>
            <tr ng-repeat="ing in vegetarian.ingredients" ng-switch on="$index % 2">
              <span ng-show="items[$index]">
                <td ng-switch-when="0">
                  {{vegetarian.ingredients[$index].qty}} {{vegetarian.ingredients[$index].name}}
                </td>
              </span>
              <span ng-show="items[$index+1]">
                <td ng-switch-when="0">
                 {{vegetarian.ingredients[$index+1].qty}} {{vegetarian.ingredients[$index+1].name}}
               </td>
             </span>
           </tr>
         </table>
       </div>

    <div class="bereiding">
      <h1 id="titel">Bereiding:</h1>
      <div ng-repeat="desc in vegetarian.description">
        <p>{{desc}}</p>
      </div> 
    </div>

  </div> 



  <a class="button" href="" ng-click="ShowGlutenfree()">
      <p>Glutenfree</p>
  </a>

  <!-- GLUTENFREE -->
    <div class="recipe" ng-hide="GlutenHidden">
      <div class="polaroid-images">
        <a href="{{glutenFree.imageUrl}}" title="{{glutenFree.title}}">
          <img height="200" src="{{glutenFree.imageUrl}}" alt="Recept" title="{{glutenFree.title}}"/>
        </a>
      </div>

        <div class="ingredienten">
          <h1 id="titel">Ingrediënten:</h1>
          <table>
            <tr ng-repeat="ing in glutenFree.ingredients" ng-switch on="$index % 2">
              <span ng-show="items[$index]">
                <td ng-switch-when="0">
                  {{glutenFree.ingredients[$index].qty}} {{glutenFree.ingredients[$index].name}}
                </td>
              </span>
              <span ng-show="items[$index+1]">
                <td ng-switch-when="0">
                 {{glutenFree.ingredients[$index+1].qty}} {{glutenFree.ingredients[$index+1].name}}
               </td>
             </span>
           </tr>
         </table>
       </div>

    <div class="bereiding">
      <h1 id="titel">Bereiding:</h1>
      <div ng-repeat="desc in glutenFree.description">
        <p>{{desc}}</p>
      </div> 
    </div>
  </div> 


  <a class="button" href="" ng-click="ShowSugarfree()">
      <p>Sugarfree</p>
  </a>

  <!-- SUGARFREE -->
    <div class="recipe" ng-hide="SugarHidden">
      <div class="polaroid-images">
        <a href="{{sugarFree.imageUrl}}" title="{{sugarFree.title}}">
          <img height="200" src="{{sugarFree.imageUrl}}" alt="Recept" title="{{sugarFree.title}}"/>
        </a>
      </div>

        <div class="ingredienten">
          <h1 id="titel">Ingrediënten:</h1>
          <table>
            <tr ng-repeat="ing in sugarFree.ingredients" ng-switch on="$index % 2">
              <span ng-show="items[$index]">
                <td ng-switch-when="0">
                  {{sugarFree.ingredients[$index].qty}} {{sugarFree.ingredients[$index].name}}
                </td>
              </span>
              <span ng-show="items[$index+1]">
                <td ng-switch-when="0">
                 {{sugarFree.ingredients[$index+1].qty}} {{sugarFree.ingredients[$index+1].name}}
               </td>
             </span>
           </tr>
         </table>
       </div>

    <div class="bereiding">
      <h1 id="titel">Bereiding:</h1>
      <div ng-repeat="desc in sugarFree.description">
        <p>{{desc}}</p>
      </div> 
    </div>
  </div> 

  <a class="button" href="" ng-click="ShowChildFriendly()">
      <p>Childfriendly</p>
  </a>

  <!-- CHILDFRIENDLY -->
    <div class="recipe" ng-hide="ChildHidden">

      <div class="polaroid-images">
        <a href="{{childFriendly.imageUrl}}" title="{{childFriendly.title}}">
          <img height="200" src="{{childFriendly.imageUrl}}" alt="Recept" title="{{childFriendly.title}}"/>
        </a>
      </div>

      <div class="ingredienten">
          <h1 id="titel">Ingrediënten:</h1>
          <table>
            <tr ng-repeat="ing in childFriendly.ingredients" ng-switch on="$index % 2">
              <span ng-show="items[$index]">
                <td ng-switch-when="0">
                  {{childFriendly.ingredients[$index].qty}} {{childFriendly.ingredients[$index].name}}
                </td>
              </span>
              <span ng-show="items[$index+1]">
                <td ng-switch-when="0">
                 {{childFriendly.ingredients[$index+1].qty}} {{childFriendly.ingredients[$index+1].name}}
               </td>
             </span>
           </tr>
         </table>
      </div>

    <div class="bereiding">
      <h1 id="titel">Bereiding:</h1>

     
      <div ng-repeat="desc in childFriendly.description">
        <p>{{desc}}</p>
      </div> 
    </div>
  </div> 
</div>