<p>Hieronder geven we alvast enkele aanraders</p>
<label class="dropdown">
	<select ng-model="selectedItem"  ng-options="city as city.name for city in cities">
		<option value="">Kies een stad</option>
	</select>
<pre ng-show="false">{{selectedItem._id}}</pre>
</label>
<div ng-if="selectedItem._id" class="restaurant" ng-repeat="restaurant in restaurants | filter:selectedItem._id">
<p class="restaurant-name">{{restaurant.name}}<p>
	<div class="description" ng-repeat="desc in restaurant.description">
		<p>{{desc}}<p>
		</div>
		<div class="adres">
			<p><b>Adres:</b></p>
			<p>{{restaurant.streetName}}</p>
			<p>{{restaurant.houseNumber}}</p>
			<p>, {{selectedItem.postcode}}</p>
			<p>{{selectedItem.name}}</p>
		</div>
		</br>
		<div class="information">
			<p><b>Informatie:</b></p>
			<p>{{restaurant.telephoneNumber}}</p>
			<p>{{restaurant.emailaddress}}</p>
			<p>
				<a href="{{restaurant.websiteLink}}">
					{{restaurant.websiteLink}}
				</a>
			</p>
			<div ng-repeat="preference in restaurant.preferences">
				<p ng-if="preference.typeOfPreference == 1">100% plantaardig</p>
				<p ng-if="preference.typeOfPreference == 2">100% vegetarisch</p>
				<p id="approved" ng-if="preference.typeOfPreference == 3">Approved by EVA!</p>
				<p ng-if="preference.typeOfPreference == 4">EVA voordeel!</p>
				<p ng-if="preference.typeOfPreference == 5">Veganvriendelijk</p>
			</div>
		</div>
	</div>