<form name="userForm" ng-submit="changeForm()" novalidate >
    
    <div class="profile-header">
        <div class="header">
            <image id="user-img" type="image" class="upload" src="/images/user.png"/>
            <!-- Naam + achternaam -->
            <span class="input input--kyo">
                <input class="input__field input__field--kyo "
                name ="fullname"
                type="text"
                ng-model="fullName"
                placeholder ="voornaam familienaam"
                ng-blur="splitUserName()"
                required
                />
                <label class="input__label input__label--kyo" for="input-19">
                    <span class="input__label-content input__label-content--kyo"></span>
                </label>
            </span>
        </div>
    </div>
            <div class="error-messages">
                <div class="error">
                    <div ng-messages="userForm.fullname.$error" ng-if="userForm.fullname.$touched">
                        
                        <p ng-message="required"><img src="/images/error.png"></img>Naam is verplicht.</p>
                    </div>
                    <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>E-mailadres is verplicht.</p>
                    </div>
                    <div ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>Wachtwoord is verplicht.</p>
                    </div>
                    <div ng-messages="userForm.vegetarianExperience.$error" ng-if="userForm.vegetarianExperience.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>Kies aub een soort vegetariër.</p>
                    </div>
                    <div ng-messages="userForm.familySituation.$error" ng-if="userForm.familySituation.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>Kies aub een familiesituatie.</p>
                    </div>
                </div>
                <div class="info">
                    <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                        <p ng-message="email"><img src="/images/info2.png"></img>Voer een geldig e-mail adres in bv. eva@eva.be</p>
                    </div>
                </div>
                <div class="success" ng-show="showSuccessAlert">
                    <p>Wijzigingen zijn opgeslaan.</p>
                 </div>
            </div>

            <!-- Gegevens -->
            <section class="content">

                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="email" id="input-4" 
                    name="email"
                    ng-model="user.emailaddress"
                    required/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">E-mail</span>
                    </label>
                </span>

                <span class="input input--hoshi" id="password-field">
                    <input class="input__field input__field--hoshi" type="password" id="input-5" 
                    name="password" 
                    ng-model="user.password"
                    clicked=true
                    required/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
                        <span class="input__label-content input__label-content--hoshi">Wachtwoord</span>
                    </label>
                </span>


                <span class="input input--hoshi">
                     <label class="dropdown">
                     <select ng-model="user.vegetarianExperience" required>
                     <option value="">Welke soort vegetariër ben je?</option>
                     <option ng-repeat="exp in vegExp" ng-selected="user.vegetarianExperience == exp.value" 
                     value="{{exp.value}}">{{exp.label}}</option>
                     </select>
                    </label>
                </span>
                
                <span class="input input--hoshi">
                      <label class="dropdown">
                       <select ng-model="user.familySituation" required>
                     <option value="">Wat is jouw familiesituatie?</option>
                     <option ng-repeat="sit in famSit" ng-selected="user.familySituation == sit.value" 
                     value="{{sit.value}}">{{sit.label}}</option>
                     </select>
                    </label>
                </span>
                
                <span class="input input--hoshi" id="checkbox">
                    <input type="checkbox" checked="user.newsletter" ng-model="user.newsletter"> wenst een nieuwsbrief</input>
                </span>

                <!-- opslaan knop -->
                <span class="input input--hoshi">
                    <input ng-disabled="userForm.$invalid" type="submit" value="Wijzigingen opslaan" class="active">
                </span>
            </section>
        </form>

