        <form name="userForm" ng-submit="submitForm()">

                <div class="reg-header">
                    <a class="back-btn" href="/">< Terug</a>
                    <h2 class="header-text">
                        Welkom bij EVA's 21 day challenge! </br>
                        Registreer je hier!
                    </h2>
                </div>

            <div class="error-messages">
                <div class="error">
                    <div ng-messages="userForm.name.$error" ng-if="userForm.name.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>Voornaam is verplicht.</p>
                    </div>
                    <div ng-messages="userForm.lastName.$error" ng-if="userForm.lastName.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>Familienaam is verplicht.</p>
                    </div>
                    <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>E-mailadres is verplicht.</p>
                    </div>
                    <div ng-messages="userForm.password.$error" ng-if="userForm.password.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>Wachtwoord is verplicht.</p>
                    </div>
                    <div ng-messages="userForm.vegetarianExperience.$error" ng-if="userForm.vegetarianExperience.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>Kies aub een soort vegetariër.</p>
                    </div>
                    <div ng-messages="userForm.familySituation.$error" ng-if="userForm.familySituation.$touched">
                        <p ng-message="required"><img src="/images/error.png"></img>Kies aub een familiesituatie.</p>
                    </div>
                </div>
                <div class="info">
                    <div ng-messages="userForm.email.$error" ng-if="userForm.email.$touched">
                        <p ng-message="email"><img src="/images/info2.png"></img>Voer een geldig e-mail adres in bv. eva@eva.be</p>
                    </div>
                </div>
                <div class="success" ng-show="showSuccessAlert">
                    <p>De registratie is gelukt, welkom {{user.name}}!</p>
                 </div>
            </div>

            <!-- Gegevens -->
            <section class="content">

                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-4" 
                    name="name"
                    ng-model="user.name"
                    required/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">Voornaam</span>
                    </label>
                </span>

                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="text" id="input-4" 
                    name="lastName"
                    ng-model="user.lastName"
                    required/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">Familienaam</span>
                    </label>
                </span>

                <span class="input input--hoshi">
                    <input class="input__field input__field--hoshi" type="email" id="input-4" 
                    name="email"
                    ng-model="user.emailaddress"
                    required/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                        <span class="input__label-content input__label-content--hoshi">E-mail</span>
                    </label>
                </span>

                <span class="input input--hoshi" id="password-field">
                    <input class="input__field input__field--hoshi" type="password" id="input-5" 
                    name="password" 
                    ng-model="user.password"
                    required/>
                    <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-5">
                        <span class="input__label-content input__label-content--hoshi">Wachtwoord</span>
                    </label>
                </span>


                <span class="input input--hoshi">
                     <label class="dropdown">
                     <select ng-model="user.vegetarianExperience" ng-change="showDescription()" required>
                     <option value="">Welke soort vegetariër ben je?</option>
                     <option ng-repeat="exp in vegExp" ng-selected="user.vegetarianExperience == exp.value" 
                     value="{{exp.value}}">{{exp.label}}</option>
                     </select>
                    </label>
                    <p class="description">{{desc}}</p>
                </span>
                
                <span class="input input--hoshi">
                      <label class="dropdown">
                       <select ng-model="user.familySituation" required>
                     <option value="">Wat is jouw familiesituatie?</option>
                     <option ng-repeat="sit in famSit" ng-selected="user.familySituation == sit.value" 
                     value="{{sit.value}}">{{sit.label}}</option>
                     </select>
                    </label>
                </span>
                
                <span class="input input--hoshi" id="checkbox">
                    <input type="checkbox" checked="user.newsletter" ng-model="user.newsletter"> wenst een nieuwsbrief</input>
                </span>

                <!-- opslaan knop -->
                <span class="input input--hoshi">
                    <input ng-disabled="userForm.$invalid" type="submit" value="Registreer" class="active">
                </span>
                
            </section>
        </form>